In [1]:
import pandas as pd

In [9]:
csv1 = pd.read_csv("data/JC-202201-citibike-tripdata.csv", sep=',')
csv2 = pd.read_csv("data/JC-202202-citibike-tripdata.csv", sep=',')
csv3 = pd.read_csv("data/JC-202203-citibike-tripdata.csv", sep=',')
csv4 = pd.read_csv("data/JC-202204-citibike-tripdata.csv", sep=',')
csv5 = pd.read_csv("data/JC-202205-citibike-tripdata.csv", sep=',')
csv6 = pd.read_csv("data/JC-202206-citibike-tripdata.csv", sep=',')

In [11]:
csv6.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,EEA3CD3B084370F4,classic_bike,2022-06-30 19:17:16,2022-06-30 19:27:13,Clinton St & Newark St,HB409,Grand St & 14 St,HB506,40.737430,-74.035710,40.754090,-74.031600,casual
1,BF568C9B3C5FAE94,classic_bike,2022-06-02 12:46:44,2022-06-02 15:08:33,Clinton St & Newark St,HB409,Grand St & 14 St,HB506,40.737430,-74.035710,40.754090,-74.031600,casual
2,DF6B06D460481A7E,classic_bike,2022-06-05 14:17:34,2022-06-05 14:27:12,Clinton St & Newark St,HB409,Grand St & 14 St,HB506,40.737430,-74.035710,40.754090,-74.031600,casual
3,A26CDB92CDF7E0EE,electric_bike,2022-06-01 18:57:12,2022-06-01 19:05:58,Clinton St & Newark St,HB409,Pershing Field,JC024,40.737430,-74.035710,40.742677,-74.051789,member
4,A2A50E81031E9E7F,electric_bike,2022-06-14 22:45:53,2022-06-14 22:49:39,Oakland Ave,JC022,Pershing Field,JC024,40.737604,-74.052478,40.742677,-74.051789,member

In [13]:
df = pd.concat([csv1,csv2,csv3,csv4,csv5,csv6])

In [22]:
print(len(df))

356653

In [23]:
df.to_csv(r'data/citibike_combined.csv', index = False)